.header_banner {
  max-width: 1640px;
  width: 100%;
  height: 300px;
  border-radius: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 30px;
  display: flex;
}
.header_banner .text_area {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
}
.header_banner h1.h2 {
  color: #ffffff;
  margin-bottom: 10px;
}
.header_banner .share {
  display: flex;
  padding-bottom: 5px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  margin-left: auto;
  margin-right: auto;
}
.header_banner .share span {
  margin-right: 20px;
}
.header_banner .share li {
  list-style-type: none;
  margin-right: 20px;
  height: -moz-fit-content;
  height: fit-content;
}
.header_banner .share li:last-child {
  margin-right: 0;
}
.header_banner .share li a {
  transition: 0.5s all;
}
.header_banner .share li a:hover {
  opacity: 0.6;
}
.header_banner .breadcumb_ul {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  color: white;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.header_banner .breadcumb_ul .breadcumb_li {
  width: -moz-fit-content;
  width: fit-content;
  list-style-type: none;
  margin-right: 18px;
  position: relative;
}
.header_banner .breadcumb_ul .breadcumb_li:after {
  content: ">";
  margin-left: 3px;
  position: absolute;
}
.header_banner .breadcumb_ul .breadcumb_li:last-child {
  margin-right: 0;
}
.header_banner .breadcumb_ul .breadcumb_li:last-child:after {
  display: none;
}
.header_banner .breadcumb_ul .breadcumb_li a {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  transition: 0.5s all;
}
.header_banner .breadcumb_ul .breadcumb_li a:hover {
  opacity: 0.6;
}

.category .list_area {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  flex-wrap: wrap;
}
.category .list_area .list_item {
  margin-left: 15px;
  margin-right: 15px;
  transition: 0.5s all;
  margin-bottom: 15px;
}
.category .list_area .list_item:hover {
  opacity: 0.6;
}
.category .list_area .list_item a {
  position: relative;
}
.category .list_area .list_item a img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}
.category .list_area .list_item a h3 {
  position: absolute;
  margin: auto;
  font-size: 35px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.category_list .item_input_area {
  border-radius: 15px;
  border: 1px solid var(--White-3, #D9D9D9);
  background: #FFF;
  padding: 30px;
  max-width: 380px;
  margin-right: auto;
}
.category_list .cat_button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #186089;
  background-color: #ffffff;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  margin-left: 10px !important;
}
.category_list .cate_text {
  margin-bottom: 40px;
}
.category_list .cate_text .text {
  color: rgba(1, 30, 46, 0.3);
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
}
.category_list .cate_text .text .black {
  color: #011E2E;
}
.category_list .cate_text .text .blue {
  color: #186089;
}
.category_list .renk_pasif {
  color: rgba(1, 30, 46, 0.3);
  border: 1px solid rgba(1, 30, 46, 0.3) !important;
}
.category_list .aramayi_kaydet {
  padding: 4px 10px;
  border-radius: 10px;
  border: 1px solid #186089;
  color: #186089;
  background: #FFF;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  margin-left: 10px;
}
.category_list .aramayi_kaydet span {
  margin-right: 10px;
}
.category_list .form-group {
  padding-bottom: 15px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 15px;
  /* Style the custom radio button */
  /* Add the checked mark */
  /* Show the checked mark when the radio button is checked */
}
.category_list .form-group .form-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.category_list .form-group a {
  color: #186089;
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.15px;
  margin-bottom: 15px;
  transition: 0.5s all;
}
.category_list .form-group a:hover {
  color: #A11105;
}
.category_list .form-group select {
  background-color: #F4F4F4;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.15px;
  color: #829499;
  border-radius: 15px;
  border: 1px solid #D9D9D9;
  padding: 7px 20px;
  height: 100%;
  margin-bottom: 15px;
}
.category_list .form-group .min {
  margin-right: 15px;
}
.category_list .form-group .max {
  margin-left: 15px;
}
.category_list .form-group input {
  color: #011E2E;
  opacity: 0.3;
  font-size: 20px;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #D9D9D9;
  background: #FAFAFA;
  padding: 6px 24px;
}
.category_list .form-group input[type=radio] {
  display: none;
}
.category_list .form-group label {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.category_list .form-group .custom-radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid #011E2E;
}
.category_list .form-group .custom-radio::after {
  content: "";
  opacity: 0.3;
  width: 20px;
  height: 20px;
  background-color: #186089;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.category_list .form-group input[type=radio]:checked + .custom-radio::after {
  display: block;
  opacity: 1 !important;
}
.category_list .assive {
  padding: 25px 30px;
  border-radius: 60px;
  border: 1px solid var(--White-3, #D9D9D9);
  background: var(--White, #FFF);
  box-shadow: 0px 5px 34px -8px rgba(130, 148, 153, 0.3);
}
.category_list .assive .item_features {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category_list .assive .item_features .feature {
  display: flex;
}
.category_list .assive .item_features .feature .img {
  margin-right: 12px;
}
.category_list .assive .item_features span {
  color: var(--Black, #1C1C1E);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.15px;
}
.category_list .assive .price_area {
  border-radius: 15px;
  border: 1px solid var(--Primary-Accent, #C8D6DF);
  padding: 12px;
  height: -moz-fit-content;
  height: fit-content;
}
.category_list .assive .price_area span {
  color: var(--Black, #011E2E);
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.15px;
}
.category_list .assive .title_super {
  color: var(--Black, #011E2E);
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.15px;
  text-transform: uppercase;
}
.category_list .assive .text {
  color: var(--Grey, #829499);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.15px;
}
.category_list .assive .adress {
  color: var(--Grey, #829499);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.15px;
  max-width: 280px;
  display: flex;
  align-items: center;
}
.category_list .img_uruns {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 220px;
  border-radius: 30px;
  position: relative;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.category_list .one_cikan {
  background-color: #011E2E !important;
  margin-right: 7px;
}
.category_list .item_type {
  background-color: #F4F4F4 !important;
  color: #011E2E !important;
}
.category_list .cat {
  border-radius: 30px;
  background: rgba(29, 29, 31, 0.5);
  box-shadow: 0px 5px 35px -8px rgba(0, 0, 0, 0.3);
  color: #F4F4F4;
  padding: 2px 12px;
  height: -moz-fit-content;
  height: fit-content;
}
.category_list .btns_cat {
  padding: 2px 12px;
  margin-left: auto;
}
.category_list .btns_cat a {
  height: 28px;
  display: flex;
  align-items: center;
}
.category_list .btns_cat a .btn_area {
  margin: 0 4px;
}/*# sourceMappingURL=satilik_ilanlar.css.map */