$color_primary : #011E2E;
$color_secondary : #186089;
$color_third : #C8D6DF;
$color_forth : #829499;
$color_red : #A11105;

.information_area{
    padding: 15px 0;
    width: 100%;
    color: white;
    background-color: $color_secondary;
}