.bold {
    font-family: 'Archivo-Bold';
    font-weight: 700;
    font-style: bold;
}

.normal {
    font-family: 'Archivo';
    font-weight: 400;
    font-style: normal;
}

$color_primary : #011E2E;
$color_secondary : #186089;
$color_third : #C8D6DF;
$color_forth : #829499;
$color_red : #A11105;

a{
    text-decoration: none;
    color: $color_primary;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.container{
    max-width: 1670px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.h2{
    color: #F4F4F4;
    text-align: center;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; 
}

.h3{
    color: $color_primary;
    text-align: center;
    font-family: Archivo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.15px;
    text-transform: uppercase;
}
.passive{
    opacity: .3;
}

.h5{
    font-family: Archivo;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p, .s1{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.15px;
}

.s2{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.1px;
}

body{
    background: #F6F8FA !important;
}

.index_title{
    font-family: Archivo;
    font-size: 49px;
    font-style: normal;
    font-weight: bold;
    line-height: 100%; 
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

header{
    padding-top: 30px;
    padding-bottom: 30px;
    .menu_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu_ul{
            padding: 12px 24px;
            border-radius: 60px;
            background-color: #ffffff;
            display: flex;
            margin-bottom: 0;
            height: fit-content;
            .menu_li{
                list-style-type: none;
                margin-left: 12px;
                margin-right: 12px;
                opacity: 0.6;
            }
            .active{
                opacity: 1;
            }
        }
        .menu_buttons{
            display: flex;
            margin-bottom: 0;
            padding-left: 0;
            height: fit-content;
            li{
                list-style-type: none;
                margin-left: 12px;
                a{
                    border-radius: 15px;
                    padding: 12px 24px;
                }
                .active_kayit{
                    border: 1px solid $color_secondary;
                    background-color: $color_secondary;
                    color: white;
                }
            }
        }
    }
}

.slider{
    margin-top: 30px;
    max-width: 1640px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .main_slider{
        .swiper-slide{
            img{
                width: 100%;
                height: auto;
                position: relative;
                border-radius: 60px;
            }
            .text_area{
                position: absolute;
                color: white;
                top: 0;
                right: 0;
                left: 0;
                max-width: 725px;
                width: 100%;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 36px;
                    h2{
                        margin-bottom: 24px;
                    }
            }
        }
        .slide_buttons{
            position: relative;
            z-index: 10;
            max-width: 188px;
            margin-left: auto;
            margin-right: auto;
            bottom: 55px;
            .swiper-button-next, .swiper-button-prev{
                position: absolute;
                z-index: 20;
                &::after{
                    display: none;
                }
            }
            .swiper-button-prev{
                left: 15px;
            }
            .swiper-button-next{
                right: 15px;
            }
            .swiper-pagination{
                border-radius: 30px;
                background: rgba(255, 255, 255, 0.20);
                backdrop-filter: blur(15px);
                width: fit-content;
                position: absolute;
                padding: 16px 66px;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                margin-bottom: -24px;
                .swiper-pagination-bullet-active {
                    opacity: var(--swiper-pagination-bullet-opacity, 1);
                    background: #F4F4F4;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    .tum_sehirler{
        max-width: 805px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        nav{
            #nav-tab{
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
                
                .active{
                    color: $color_primary !important;
                    background-color: #F4F4F4 !important;
                    border-radius: 5px 5px 0px 0px;
                }

                .nav-link{
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    border-bottom: 0;
                    margin: 0 2.5px;
                    color: #F4F4F4;
                    background-color: $color_secondary;
                    border-radius: 5px 5px 0px 0px;
                }

                #nav-satilik-tab{
                    color: #F4F4F4;
                    background-color: $color_primary;
                    border-radius: 5px 5px 0px 0px;
                }

                #nav-kiralik-tab{
                    color: #F4F4F4;
                    background-color: $color_secondary;
                    border-radius: 5px 5px 0px 0px;
                }
            }
        }
        .tab-content{
            padding: 14px 22px;
            border-radius: 5px;
            background-color: #F4F4F4;
            border: 1px solid #E9E9E9;
            #all_city, .input_area{
                background-color: #F4F4F4;
                width: 100%;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: 0.15px;
                color: #829499;
                border-radius: 15px;
                border: 1px solid #E9E9E9;
                padding: 10px 20px;
                height: 100%;
            }
            .arama_button{
                width: 100%;
                padding: 12px 24px;
                border: 1px solid $color_secondary;
                border-radius: 15px;
                background-color: $color_secondary;
                color: white;
                transition: .5s all;
                display: block;
                text-align: center;
                &:hover{
                    background-color: transparent;
                    color: $color_secondary;
                }
            }
        }
    }
}

.values{
    margin-top: 30px;
    .item{
        position: relative;
        .bg_images{
            width: 100%;
            height: auto;
            color: #F4F4F4;
        }
        .text_item{
            max-width: 256px;
            height: fit-content;
            width: 100%;
            color: #F4F4F4;
            position: absolute;
            margin: auto;
            top: 15px;
            left: 65px;
            right: 0;
            bottom: 0;
            p{
                opacity: 0.6;
            }
        }
    }
}

.popular_sales{
    margin-top: 75px;
    .renk_item_2{
        .nav-item{
            .active{
                background-color: $color_red !important;
            }
        }
    }
    #pills-tab{
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;

        .nav-item{
            .nav-link{
                padding: 12px;
                border-radius: 15px;
                opacity: .6;
                color: $color_primary;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: 0.15px;
                margin: 0 11px;
            }
            .active{
                opacity: 1;
                color: #ffffff;
                background-color: $color_secondary;
            }
        }
    }

    .renk_item_2{
        .one_cikanlar{
            .swiper-pagination-progressbar-fill {
                background-color: $color_red !important;
            }
        }
    }

    #pills-tabContent{
        .one_cikanlar{
            margin-top: 46px;
            padding-bottom: 50px;
            .swiper-slide{
                max-width: 386px;
                width: 100%;
                border-radius: 60px;
                background-color:#ffffff ;
                border: 1px solid rgba(130, 148, 153, 0.30);
                box-shadow: 0px 5px 34px -8px rgba(130, 148, 153, 0.30);
                .adres_area{
                    span{
                        color: $color_forth;
                    }
                }
                .list_btns{
                    padding: 29px 23px 0 23px;
                }
                .locate{
                    position: absolute;
                    bottom: 30px;
                }
                .one_cikan{
                    background-color: $color_primary !important;
                    margin-right: 7px;
                }
                .item_type{
                    background-color: #F4F4F4 !important;
                    color: $color_primary !important;
                }
                .cat{
                    border-radius: 30px;
                    background: rgba(29, 29, 31, 0.50);
                    box-shadow: 0px 5px 35px -8px rgba(0, 0, 0, 0.30);
                    color: #F4F4F4;
                    padding: 6px 12px;
                    height: fit-content;
                }
                .btns_cat{
                    padding: 4px 12px;
                    margin-left: auto;
                }
                .img_uruns{
                    width: 100%;
                    object-fit: cover;
                    height: 240px;
                    border-top-left-radius: 60px;
                    border-top-right-radius: 60px;
                    position: relative;
                }
                .text_area{
                    margin-top: 12px;
                    margin-bottom: 12px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    max-width: 295px;
                    margin-left: auto;
                    margin-right: auto;
                    .adres_area{
                        margin-top: 12px;
                    }
                    .button_area{
                        max-width: fit-content;
                        margin-right: auto;
                        margin-left: auto;
                        margin-bottom: 12px;
                        margin-top: 12px;
                    }
                    .price{
                        border-radius: 15px;
                        border: 1px solid $color_third;
                        padding: 12px 24px;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        color: $color_primary;
                        width: fit-content;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
            .swiper-pagination {
                max-width: 386px;
                margin-right: auto;
                margin-left: auto;
                margin-top: auto;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 5px;
            }
            .swiper-pagination-progressbar-fill {
                background: $color_secondary;
                position: absolute;
                left: 0;
                top: -1px;
                width: 100%;
                height: 5px;
                transform-origin: left top;
                height: 5px;
                border-radius: 120px;
            }
            .swiper-pagination-progressbar {
                background: #D9D9D9;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 5px;
                transform-origin: left top;
                height: 2.5px;
                border-radius: 120px;
            }
        }
    }
}

.popular_category{
    margin-top: 80px;
    padding-top: 74px;
    .width_area{
        width: 100%;
        background-size: cover;
        height: 500px;
        margin-bottom: -426px;
    }
    .kategori{
        margin-top: 77px;
    }
    .index_title{
        color: #F4F4F4;
    }
    .content{
        width: 100%;
        height: 500px;
        border-radius: 60px;
        position: relative;
        background-size: cover !important;
        .text_area{
            height: 200px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            background: linear-gradient(0deg, $color_secondary 0%, #1d1d1fb3 100%);
            padding: 45px 62px;
            border-radius: 0px 0px 60px 60px;
            position: absolute;
            bottom: 0;
        }
        h2, span{
            opacity: 1 !important;
            color: #F4F4F4;
        }
    }
}   

.customer_comments{
    margin-top: 77px;
    background-color: #ffffff;
    padding-top: 81px;
    padding-bottom: 81px;
    .index_title{
        margin-bottom: 62px;
    }
    .customer_comments_slider{
        position: relative;
        max-width: 1404px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 527px;
        padding-right: 30px;
        .swiper-wrapper{
            position: relative;
            max-width: 1362px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            .swiper-slide{
                margin-left: 15px !important;
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: #FAFAFA;
                transition: .5s all;
                border-radius: 60px;
                width: 388px !important;
                height: 386px !important;
                box-shadow: 0px 10.987px 24.903px -5.86px rgba(130, 148, 153, 0.30);
              
                .stars{
                    position: relative;
                    width: fit-content;
                    margin-right: auto;
                    margin-left: auto;
                    img{
                        transition: .5s all;
                        margin-left: 6px;
                        margin-right: 6px;
                        width: 24.645px !important;
                        height: 23.438px !important;
                    }
                }
                
                .text{
                    transition: .5s all;
                    margin-top: 17px;
                    padding-left: 17px;
                    padding-right: 17px;
                    .h5{
                        font-size: 17.579px !important;
                        transition: .5s all;
                    }
                }

                .profile_photo{
                    transition: .5s all;
                    margin-top: 17px;
                    h4{
                        font-size: 14.649px !important;
                        transition: .5s all;
                    }
                    img{
                        transition: .5s all;
                        object-fit: cover;
                        border-radius: 120px;
                        width: 87px !important;
                        height: 87px !important;
                    }
                }
            }

            .swiper-slide-active{
                padding-top: 56px;
                padding-bottom: 56px;
                background-color: $color_red;
                border: 1px solid #EBEBEB;
                color: #F4F4F4;
                width: 527px !important;
                height: 527px !important;
                box-shadow: 0px 15px 34px -8px rgba(130, 148, 153, 0.30);
                .stars{
                    img{
                        width: 35px !important;
                        height: 32px !important;
                    }
                }
                .profile_photo{
                    margin-top: 24px;
                    h4{
                        font-size: 20px !important;
                    }
                    img{
                        width: 120px !important;
                        height: 120px !important;
                    }
                }
                .text{
                    margin-top: 24px;
                    padding-left: 24px;
                    padding-right: 24px;
                    .h5{
                        font-size: 24px !important;
                    }
                }
            }
        }
        .swiper-button-prev{
            position: absolute;
            right: 0;
            left: auto;
            background-color: $color_red;
            border: 1px solid $color_red;
        }
        .swiper-button-next{
            position: absolute;
            left: 0;
            background-color: #FFFFFF;
            border: 1px solid #D9D9D9;
        }
        .swiper-button-next, .swiper-button-prev{
            width: 42px;
            height: 42px;
            border-radius: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                position: absolute;
                margin: auto;
            }
            &:after{
                opacity: 0;
            }
        }
    }
}

.branches{
    background-color: $color_third;
    padding-top: 100px;
    padding-bottom: 203px;

    .branch_list{
        margin-top: 60px;

        .branch{
            max-width: 303px;
            width: 100%;
            border: 1px solid $color_secondary;
            padding: 30px 20px;
            text-align: center;
            color: $color_primary;
            border-radius: 45px;
            position: relative;
            background-color: transparent;
            transition: .5s all;
            img{
                transition: .5s all;
            }
            .branch_link{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }

            &:hover{
                background-color: $color_primary;
                color: #F4F4F4;
                img{
                    filter: invert(1);
                }
            }

            h6{
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                margin-top: 12px;
                margin-bottom: 12px;
            }
            span{
                margin-bottom: 12px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}